<div class="inner cover">
  <h1 class="cover-heading">Miny is better.</h1>
  <p class="lead">Quickly shorten your long urls.</p>

  <%= form_for(@shortener, remote: true) do %>
    <form>
      <%= label_tag :long_url, "http://" %>
      <%= text_field_tag :long_url, nil, placeholder: 'www.google.com' %>
      <br>
      <br>
      <p class="lead">
        <button class="submit btn btn-lg btn-default" type='submit'>Submit</button>
      </p>
   </form>
  <% end %>

</div>

<div id = "modals-container">
<div>