
<div class="inner cover">
  <h1 class="cover-heading">Shorten Urls.</h1>
  <p class="lead">Use Shortener to shorten your long urls into manageable, linkable, and sharable tidbits of link fun.</p>

  <a href="<%= @shortener.short_url %>"><%= @shortener.short_url %><a>

</div>
